<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>freshman qa</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header role="navigation">
      <div class="navbar">
        <div class="navbar-inner">
          <a href="#" class="brand">我要问学长</a>
        </div>
      </div>
    </header>
    <section role="main" class="row container">
      <div class="question-wrapper span8 offset2">
        <section class="question">
          <div class="arrow">
            <div class="in"></div>
            <div class="line"></div>
          </div>
          <div class="row tags">
            <div class="span8">
              <ul>
                <li class="tag"><a href="#">道格拉斯</a></li>
                <li class="tag"><a href="#">银河系漫游指南</a></li>
                <li class="tag"><a href="#">42</a></li>
              </ul>
            </div>
          </div>
          <div class="row inner">
            <div class="span8">
              <header>
                <h1 class="title">生命、宇宙以及任何事情的終極答案是？</h1>
              </header>
              <article class="description">
                <p>为什么星期四晚上肯德基都不开门？</p>
                <p>在故事中，一個具有高度智慧的跨維度生物種族為了找出一個能夠回答終極問題的簡單答案，特別造了一臺超級電腦——“深思”（Deep Thought）來進行計算。“深思”花了750萬年來計算和驗證，最後得出了“42”這個答案。</p>
                <p>在故事中，一個具有高度智慧的跨維度生物種族為了找出一個能夠回答終極問題的簡單答案，特別造了一臺超級電腦——“深思”（Deep Thought）來進行計算。“深思”花了750萬年來計算和驗證，最後得出了“42”這個答案。</p>
              </article>
            </div>
          </div>
        </section>
        <ul class="answers-list">
          <li>
            <section class="answer">
              <aside class="arrow">
                <div class="in"></div>
                <div class="out"></div>
              </aside>
              <div class="row">
                <div class="meta span1">
                  <div class="inner">
                    <a class="votes" title="不要移开，正在投票...">
                      142
                    </a>
                  </div>
                </div>
                <div class="body span7">
                  <header>
                    <h3 class="author">hbc<strong class="bio">计算机科学</strong></h3>
                  </header>
                  <article class="content">
                    <p>42</p>
                  </article>
                </div>
              </div>
            </section>
          </li>
          <li>
            <section class="answer">
              <aside class="arrow">
                <div class="out"></div>
                <div class="in"></div>
              </aside>
              <div class="row">
                <div class="meta span1">
                  <div class="inner">
                    <a class="votes square" title="正在投票，请勿移开">
                      <i class="icon-thumbs-up"></i>
                    </a>
                  </div>
                </div>
                <div class="body span7">
                  <header>
                    <h3 class="author">hbc<strong class="bio">专注扫地 30 年</strong></h3>
                  </header>
                  <article class="content">
                    <p>因为今晚要灭四害</p>
                    <p>當被要求提供所謂的終極問題時，“深思”說它沒辦法，但是它可以設計出另外一臺更強大的電腦（也就是地球這個生體電腦）來做這工作。於是當初問這些問題的種族就開始了漫長無盡的等待，讓這個超級生體電腦去運行程式來找出終極問題。經過了800萬年，就在結果要出來的五分鐘前，地球卻因為擋在預定興建的星際間高速公路的路線，被Vogons給毀滅，電腦沒有給出最後的結果。</p>
                  </article>
                </div>
              </div>
            </section>
          </li>
          <li>
            <section class="answer form">
              <aside class="arrow">
                <div class="out"></div>
              </aside>
              <div class="row">
                <div class="span8">
                  <form><textarea></textarea></form>
                </div>
              </div>
              <div class="row">
                <footer class="span8">
                  <div class="inner pull-right btn-group">
                    <a href="#" class="btn btn">回答</a>
                  </div>
                </footer>
              </div>
            </section>
          </li>
        </ul>
      </div>
    </section>
    <footer class="copyleft">
      <div class="container row">
        <div class="span8 offset2 clearfix">
          <div class="pull-left">&lt;3 vtmer</div>
          <div class="links pull-right">
            <span><a href="#">关于新生问答</a></span>
            <span><a href="#">关于 vtmer</a></span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
