<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>freshman qa</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="signup">
    <section role="main" class="container">
      <div class="inner row">
        <header class="logo span12">
          <h1 class="brand"></h1>
          <h3 class="slogan">还差一步就可以开始解救师弟师妹啦！</h3>
        </header>
        <div class="body">
          <article class="span6">
            <form class="form form-horizontal">
              <div class="control-group">
                <label for="password" class="control-label">密码</label>
                <div class="controls">
                  <input name="password" type="password" class="input-xlarge" />
                  <p class="notes">这个密码用来登录哦，请牢牢记住</p>
                </div>
                <div class="controls">
                  <a href="#" class="btn btn-success form-submit">开始答疑！</a>
                </div>
              </div>
              <div class="hints row">
                <div class="inner span6">
                  <p>也顺便检查下你的个人信息啦！<a href="#">有错?</a></p>
                </div>
              </div>
              <div class="control-group">
                <label for="id" class="control-label">学号</label>
                <div class="controls">
                 <input name="id" type="text" class="input-xlarge" value="3112005816" disabled />
                </div>
              </div>
              <div class="control-group">
                <label for="name" class="control-label">姓名</label>
                <div class="controls">
                 <input name="name" type="text" class="input-xlarge" value="何先生" disabled />
                </div>
              </div>
              <div class="control-group">
                <label for="major" class="control-label">专业</label>
                <div class="controls">
                 <input name="major" type="text" class="input-xlarge" value="计算机科学" disabled />
                </div>
              </div>
              <div class="control-group">
                <label for="grade" class="control-label">年级</label>
                <div class="controls">
                 <input name="grade" type="text" class="input-xlarge" value="2012" disabled />
                </div>
              </div>
            </form>
          </article>
          <aside class="span4 offset2">
            <p>&gt; <a href="#">关于新生问答</a></p>
          </aside>
        </div>
      </div>
    </section>
  </body>
</html>
