<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>freshman qa</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="validate">
    <section role="main" class="container">
      <div class="inner row">
        <header class="logo span12">
          <h1 class="brand"></h1>
          <h3 class="slogan">欢迎一起来为学弟学妹们解答疑问！</h3>
        </header>
        <div class="body">
          <article class="span6">
            <div class="hints row">
              <div class="inner span6">
                <p>为了让大家都知道你广工的学生，先填写你在 <a href="http://eswis.gdut.edu.cn">学生工作信息管理系统</a> 上的：</p>
              </div>
            </div>
            <form class="form form-horizontal">
              <div class="control-group">
                <label for="id" class="control-label">学号</label>
                <div class="controls">
                  <input name="id" type="text" class="input-xlarge" placeholder="输入你的 10 位学号" />
                </div>
              </div>
              <div class="control-group">
                <label for="password" class="control-label">密码</label>
                <div class="controls">
                  <input name="password" type="password" class="input-xlarge" placeholder="默认是身份证号码" />
                  <p class="notes">我们才不会去记录你的密码呢！</p>
                </div>
                <div class="controls">
                  <a href="#" class="btn btn-info form-submit">验证！</a>
                </div>
              </div>
            </form>
          </article>
          <aside class="span4 offset2">
            <p>&gt; 已经有账号了？<a href="#">直接登录！</a></p>
            <p>&gt; <a href="#">关于新生问答</a></p>
          </aside>
        </div>
      </div>
    </section>
  </body>
</html>
